body {
  background-color: black;
  color: white;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.index-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 10vh);
  height: 100vh;
  width: 100vw;
}

.index-grid a {
  color: inherit;
  text-decoration: none;
}

.index-grid button {
  grid-column: 2 / 5;
  grid-row: 3 / 6;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  height: 10rem;
}

.index-grid img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: opacity 1s ease-out;
}

.header-container {
  grid-column: 1 / 11;
  grid-row: 1 / 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.index-grid h1 {
  color: inherit;
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
}

.subheader {
  font-size: 0.8rem;
  margin: 0;
}

.dates-flexbox {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.dates-flexbox h1 {
  margin: 0;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.dates-container {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.dates-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.daypage-layout-one {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.daypage-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.daypage-leftbox {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
}

.daypage-rightbox {
  max-width: 45rem;
  min-width: none;
  margin-left: 1rem;
}

.daypage-leftbox p,
.daypage-rightbox p {
  margin: 0;
}

.coordinate-hover {
  cursor: pointer;
}

.coordinate-hover .coords {
  display: none;
}

.coordinate-hover:hover .address {
  display: none;
}

.coordinate-hover:hover .coords {
  display: inline;
}

@media (max-width: 768px) {
  .dates-container {
    flex-direction: column;
    gap: 2rem;
  }

  .coordinate-hover .address,
  .coordinate-hover .coords {
    display: block;
    text-align: center;
  }

  .coordinate-hover:hover .coords {
    display: block;
  }
}
